<!doctype html>
<html lang="pl">
  <head>
  
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	
	
	<!-- Chart.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
	
    <title>WeatherApp</title>
	
<style>

	.prediction{
		background-color: rgba(2, 117, 216, 0.5);
		padding: 20px;
	}
	.box{
		border: 0px solid black;
		border-radius: 10px;
		width:300;
		padding:16px;
		background-color: #0275d8;
		margin-top: 10px;
		text-align: center;
		color: white;
		font-family: "Arial";
		font-size: 20px;
		
	}
	.box:hover{
		background-color: #292b2c;
	}


</style>

  </head>
<body>
	<div class="container">
		
			{% block content %}
			{% endblock %}
			
		
	
	<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">WeatherApp</h5>
          <p>Dane pogodowe pochodzą ze strony <a href="https://www.weatheronline.pl/"><strong>weatheronline.pl</strong></a></p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Menu</h5>

            <ul class="list-unstyled">
              <li>
                <a href="{% url 'weather:index' %}">Strona główna</a>
              </li>
            
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Linki</h5>

            <ul class="list-unstyled">

			  <li>
                <a href="https://github.com/Rejman/Weather">GitHub</a>
              </li>			  
			  <li>
                <a href="https://www.djangoproject.com/">Django</a>
              </li>
			  <li>
                <a href="https://www.chartjs.org/">Chart.js</a>
              </li>
			  <li>
                <a href="https://www.weatheronline.pl/"> WeatherOnline</a>
              </li>
			 </ul>
          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">2018 - 2019	</div>
    <!-- Copyright -->

  </footer>
  </div>
  <!-- Footer -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>