body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
	background-image: url('{{ STATIC_URL }}weather/img/background.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
	font-size: 18px;
}	
#contener{
	margin: 0 auto;    
	width: 100%;
    min-height: 100%;
    position: relative;
}
#head{
	height:150px;
	
}
#nav
{
	margin-top: 66px;
	margin-left: 10px;
	width: 300px;
	height: 318px;
	position: fixed;
	background-color: rgba(0,49,83,0.7);
	border: 3px rgba(0,0,0,0.7) solid;
	text-align: center;
	text-shadow: 2px 2px black;
	font-family: 'Julius Sans One', sans-serif;
	padding: 0;
}

#content{
	height:450px;
	width: 70%;
	margin: 0 auto;
	background-color: rgba(0,49,83,0.5);
	border: 3px rgba(0,0,0,0.7) solid;
	float: right;
	margin-right: 10px;
	padding: 10px;
}
#nav ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	line-height: 300%;
	letter-spacing: 3px;
	display: inline-block;
	float: left;
}
ol > li 
{
	float: left;
	width: 100px;
	transition: background-color 0.5s;
	height:53px;
}

ol a
{
	color: #fff;
	text-decoration: none;
	display: block;
}
ol > li:hover
{
	background-color: rgba(255,255,255,0.5);
}
a:visited
{
	color: #fff;
	text-decoration: none;
}
a:hover
{
	color: #fff;
	text-decoration: none;
}
a:link
{
	color: #fff;
	text-decoration: none;
}
#footer{
    background: rgba(0,49,83,0.5);
	position: fixed;
    text-align: center;
    height: 8px;
	width: 100%;
    padding: 15px 0 15px 0;
    bottom: 0;
	font-size: 12px;
}

